.Translator-maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Translator-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    color: wheat;
    background-color: tomato;
}

.Translator-content {
    width: 100%;
    max-width: 60vh;
    background-color: white;
    padding: 3vh;
}

.Translator-footer {
    display: flex;
    width: 100%;
    background-color: yellow;
    justify-content: center;
    align-items: flex-start;
    display: none;
}

.gridStyle {
    /* width: 40%; */
    text-align: 'center';
}

.searchDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.searchOptionsDiv {
    margin-top: 10;
    margin-bottom: 10;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.searchInputDiv {
    display: flex;
    width: 100%;
    margin-top: 10;
    /* flex-direction: column; */
    justify-content: center;
}

.searchInputCol {
    /* display: flex; */
    width: 100%;
    /* margin-top: 10; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

.textStyle {
    text-align: justify;
    margin-top: 2vh;
    min-height: 10vh;
}

.footerStyle {
    text-align: center;
    margin-top: 2vh;
}